<!DOCTYPE html>
<html>
<head>
	<title><%= VIEW.HEADING %></title>
	<link rel="icon" href="/assets/favicon.ico">
	<link rel="stylesheet" href="/assets/css/main.css?r=<%= VIEW.RANDOMID %>">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
					integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
					crossorigin="anonymous"></script>
</head>
<body>
	<h1><%= VIEW.HEADING %></h1>

	<form id="userForm">
		<input type="hidden" name="mode" value="<%= VIEW.MODE %>">
		<input type="hidden" name="id" value="<%= VIEW.USER_ID %>">

		<div>
		<label for="fullname">Full Name</label><br>
		<input type="text" id="fullname" name="fullname" value="<%= VIEW.FULLNAME %>">
		</div>

		<div style="margin-top:1rem;">
			<button type="submit"><%= VIEW.BUTTON %></button>
			<button id="btnCancel">Cancel</button>
		</div>
	</form>

	<script>
		(function($) {
			$.postJSON = function(url, data, success) {
				return $.ajax({
					url: url,
					method: 'POST',
					contentType: 'application/json',
					data: JSON.stringify(data),
					success: success
				});
			};
		})(jQuery);

		$(function() {
			$('#btnCancel').click(function(e){
				e.preventDefault();
				location.href = '/users';
				return false;
			});
			$('#userForm').on('submit', function(e) {
				e.preventDefault();

				var data = {
					mode: this.mode.value,
					id: this.id.value,
					fullname: this.fullname.value
				};

				$.postJSON('<%= VIEW.BASEURL %>/users/save', data, function(res) {
					if (res && res.redirect) {
						window.location = res.redirect;
					} else {
						window.location = '<%= VIEW.BASEURL %>/users';
					}
				});
			});
		});
	</script>
</body>
</html>
